:root {
  --bg: #fff;
  --text: #000;
  --navbg: #bd3dbd;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #171717;
    --text: #fff;
    --navbg: #602f6b;
  }
}
.content {
  padding-left: 5px;
}
*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navigation-header {
  background-color: var(--navbg);
  padding: 0 15px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-items {
  display: flex;
  gap: 40px;
}
.navigation-items > a {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: 0.4s ease-in-out;
}
.navigation-items > a:hover {
  color: var(--text);
}
.hamburger {
  display: none;
  font-size: 20px;
  font-weight: 800;
  color: var(--text);
}
@media screen and (max-width: 800px) {
  .hamburger {
    display: flex;
    cursor: pointer;
  }
  .hamburger #closeHam {
    display: none;
  }
  .navigation-items {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 58px;
    background-color: var(--navbg);
    width: 100%;
    height: calc(100vh - 58px);
    padding-top: 60px;
    gap: 10vh;
  }
  .sonaimg {
    max-width: 250px;
    min-width: 250px;
  }
}
